<nav class="navbar navbar-dark bg-primary navbar-fixed-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <!-- <a class="nav-link" href="#home">Home <span class="sr-only">(current)</span></a> -->
        <%= link_to "Blog", root_path %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#speakers">Speakers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#schedule">Schedule</a>
      </li>
    </ul>
    <a class="navbar-brand pull-sm-right m-r-0 hidden-xs-down" href="http://www.teamtreehouse.com">Presented by Treehouse</a>
  </div>
</nav>
